[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mccabe = "*"
pycodestyle = "*"
pyflakes = "*"
py = "*"
more-itertools = "*"
six = "*"
attrs = "*"
pluggy = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[packages]
requests = "*"
urllib3 = "*"
mccabe = "*"
idna = "*"
chardet = "*"
certifi = "*"

[requires]
python_version = "3.7"
